# Node.js
node_modules/

# TypeScript build files
*.tsbuildinfo
tsconfig.app.tsbuildinfo

# Vite build directory
dist/

# Logs
*.log

# Environment files
.env

# IDE-specific files
.vscode/
.idea/

# MacOS specific
.DS_Store

